@media (max-width:992px){
  .flex-space-around{
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }
  #menu_icon{
    display: block;
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
  }
 
  .nav_lower{
    height: 10vh;
    background-color: var(--secondary-color);
    padding: 3rem 0;
  }
  .header{
    height: 115vh !important;
  }
  .products{
    grid-template-columns:repeat(2,minmax(0,1fr)) !important;
  }
.cart_items,.cart_payment{
  width: 90%;
}
.form,
.form-control{
  width: 100%;
 
}
.contact-address{
  width: 100%;
}
.form-control input,
textarea{
 width: 80%;
}

.register .card,
.login .card{
 width: 90%;
}


  .footer{
    height: 30vh !important;
  }
  .subscribe_main{
    
  }
}



@media (max-width:768px){
  .flex-center{
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }
  .products{
    grid-template-columns:repeat(1,minmax(0,1fr)) !important;
  }
}
@media (max-width:600px){
  .banner_title{
    font-size: 1rem;
    
  }
}